{% extends "base.html" %}
{% block content %}
<h2>AI Suggestions</h2>
<div class="alert alert-light" style="white-space: pre-wrap;">
    {{ response | safe }}
</div>


<form method="POST" action="/cover_letter">
    <input type="hidden" name="resume" value="{{ resume }}">
    <input type="hidden" name="job" value="{{ job }}">

    <div class="mb-3">
        <label for="name">Your Name</label>
        <input class="form-control" type="text" name="name" required>
    </div>

    <div class="mb-3">
        <label for="job_title">Job Title</label>
        <input class="form-control" type="text" name="job_title" required>
    </div>

    <!-- Tone dropdown -->
    <div class="mb-3">
        <label for="tone">Tone</label>
        <select class="form-control" name="tone" id="tone">
        <option value="formal">Formal</option>
        <option value="confident">Confident</option>
        <option value="friendly">Friendly</option>
        </select>
    </div>
    {% include "partials/_loading.html" %}
    <button type="submit" class="btn btn-info mt-3">Generate Cover Letter</button>
</form>



{% endblock %}
