<!--
  Shows AI-generated suggestions for improving the resume
  based on the provided job description.
-->

{% extends "base.html" %}
{% block title %}AI Suggestions{% endblock %}

{% block content %}

<!-- Display input preview: resume and job description -->
<h2>AI Suggestions</h2>
<div class="alert alert-light" style="white-space: pre-wrap;">

    <!-- AI-generated suggestions displayed below -->
    {{ response | safe }}
</div>

<!-- Form used for cover letter creation. User needs to fill in these fields -->
<form method="POST" action="/cover_letter">
    <input type="hidden" name="resume" value="{{ resume }}">
    <input type="hidden" name="job" value="{{ job }}">

    <div class="mb-3">
        <label for="name">Your Name</label>
        <input class="form-control" type="text" name="name" value="{{ name_guess }}" required>
    </div>

    <div class="mb-3">
        <label for="job_title">Job Title</label>
        <input class="form-control" type="text" name="job_title" value="{{ job_title_guess }}" required>
    </div>

    <!-- Language dropdown -->
    <div class="mb-3">
        <label for="language" class="form-label">Language</label>
        <select class="form-select" id="language" name="language">
          <option value="English" selected>English</option>
          <option value="Portuguese">Portuguese</option>
          <option value="Spanish">Spanish</option>
          <option value="Spanish">Italian</option>
          <option value="French">French</option>
          <option value="German">German</option>
        </select>
      </div>

    <!-- Tone dropdown -->
    <div class="mb-3">
        <label for="tone">Tone</label>
        <select class="form-control" name="tone" id="tone">
        <option value="formal">Formal</option>
        <option value="confident">Confident</option>
        <option value="friendly">Friendly</option>
        </select>
    </div>
    {% include "partials/_loading.html" %}
    <button type="submit" class="btn btn-info mt-3">Generate Cover Letter</button>
</form>



{% endblock %}
