{% extends "base.html" %}
{% block content %}

{% if resume %}
  <div class="mb-4">
    <h5 class="text-muted">Resume Preview:</h5>
    <pre style="max-height: 200px; overflow-y: auto; background-color: #f8f9fa; padding: 1rem; border: 1px solid #ddd;">
{{ resume[:1500] }}
    </pre>
  </div>
{% endif %}
<br>
<h2>Paste the Job Description</h2>

<form method="POST">
    <div class="mb-3">
        <label for="job_url">Paste Job Description URL</label>
        <input type="url" name="job_url" id="job_url" class="form-control" value="{{ job_url }}">
    </div>

    <p class="text-center my-2">— or —</p>

    <div class="mb-3">
        <label for="job">Paste Job Description</label>
        <textarea class="form-control" id="job" name="job" rows="10">{{ job }}</textarea>
    </div>
    <input type="hidden" name="resume" id="resume" value="{{ resume }}">
    {% include "partials/_loading.html" %}
    <button type="submit" class="btn btn-success">Generate Suggestions</button>
</form>

{% endblock %}
